{% extends "base.html" %}

{% block log %}
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90" style="background-color:black">
				<form class="login100-form validate-form flex-sb flex-w" method="post" action="{{ url_for('login')}}">
					<span class="login100-form-title p-b-51 title">
						<img src="/static/images/BroFlix.png" alt=""><br>
						Login
					</span>

					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<input type="submit" value="Login" class="login100-form-btn">
							<!-- Login
						</input> -->
					</div>

				</form>
			</div>
		</div>
	</div>
	
	{% endblock log %}