
<!DOCTYPE html>
<html lang="en">
<head>
	<title>BroFix</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: black">
	<div class="container" style="margin-bottom: 51px;">
		<!--Logo Placement -->
		<img src="../static/images/Broflix.png" height="100px">
	</div>
	<div class="single-movie">

		<div class="col-sm-4" style="margin-left: 58px;">
		<img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/rhIRbceoE9lR4veEXuwCC2wARtG.jpg" style="padding: 58px;border: 1px solid white;height: 400px">
		</div>
		<div class="col-sm-8" style="width: 50%">
				<h1 class="title" style="color:white">Toy Story (2007)</h1><br><br>
		</div>
		<div class="col-sm-8" style="width: 50%">
				<p class="content" style="color:white">Ratings </p>
		</div>
		<div class="col-sm-8" style="width: 50%">
			<p><span class="glyphicon glyphicon-star" style="color: white"></span>
			<span class="glyphicon glyphicon-star" style="color: white"></span>
			<span class="glyphicon glyphicon-star" style="color: white"></span>
			<span class="glyphicon glyphicon-star" style="color: white"></span></p>	
				</div>

		<div class="col-sm-8" style="width: 50%">
			<p style="color:white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
		
	</div>
	<div class="col-sm-12" style="margin-left: 55px">
	<!--For you may also like-->
	<h1 style="color:white">You may also like</h1>
		</div>

</body>
</html>